<a href="https://colab.research.google.com/github/Laura-Neff/EmbeddedMethodForFeatureSelection/blob/main/EmbeddedMethodForFeatureSelection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
automobile = pd.read_csv('cars_processed.csv')

automobile.head(10)

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Origin,Age
0,18.000000,8,307.0,130,3504,12.0,US,49
1,16.000000,8,304.0,150,3433,12.0,US,49
2,17.000000,8,302.0,140,3449,10.5,US,49
3,14.000000,8,454.0,220,4354,9.0,US,49
4,23.551429,8,440.0,215,4312,8.5,US,49
5,14.000000,8,455.0,225,4425,8.5,US,49
6,15.000000,8,390.0,190,3850,8.5,US,49
7,15.000000,8,383.0,170,3563,10.0,US,49
8,14.000000,5,340.0,160,3609,8.0,US,49
9,23.551429,8,400.0,150,3761,9.5,US,49

In [ ]:
X = automobile.drop(['MPG', 'Origin'], axis=1)

Y = automobile['MPG']

#Regularization Technique
##Lasso
   - it's a regularized regression model where there is a penalty function involved for complex coefficients
   - look at notes for formula
   - alpha determines strength of regularization for model

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
lasso = Lasso(alpha=0.8)
lasso.fit(X, Y)

Lasso(alpha=0.8)

In [ ]:
predictors = X.columns

coef = pd.Series(lasso.coef_, predictors).sort_values()
print(coef)

#the unimportant coefficients are closer to 0 (like Cylinders, Acceleration). Only Age and weight are really important

Age            -0.673784
Weight         -0.006603
Horsepower     -0.004511
Cylinders      -0.000000
Acceleration    0.000000
Displacement    0.001366
dtype: float64

In [ ]:
lasso_features = ['Age', 'Weight']

X[lasso_features].head()

   Age  Weight
0   49    3504
1   49    3433
2   49    3449
3   49    4354
4   49    4312

##Decision Tree
- more important features are closer to root

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
decision_tree = DecisionTreeRegressor(max_depth=4)
decision_tree.fit(X,Y)

DecisionTreeRegressor(max_depth=4)

In [ ]:
predictors = X.columns

coef = pd.Series(decision_tree.feature_importances_, predictors).sort_values()
print(coef)

- bigger numbers = closer to roote = more important

Cylinders       0.000000
Acceleration    0.000000
Weight          0.058285
Age             0.112716
Horsepower      0.183409
Displacement    0.645590
dtype: float64

In [ ]:
decision_tree_features = ['Displacement', 'Horsepower']

X[decision_tree_features].head()

   Displacement  Horsepower
0         307.0         130
1         304.0         150
2         302.0         140
3         454.0         220
4         440.0         215

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [ ]:
def build_model(X, Y, test_frac):
    
    x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=test_frac)
    
    model = LinearRegression().fit(x_train, y_train)
    y_pred = model.predict(x_test)
    
    print("Test_score : ", r2_score(y_test, y_pred))

In [ ]:
build_model(X[lasso_features], Y, 0.2)
#Lasso is much better

Test_score :  0.8001791825708727

In [ ]:
build_model(X[decision_tree_features], Y, 0.2)

Test_score :  0.5633898165985385